@page
@model personalWebApp.Pages.ExperienceModel
@{

    ViewData["Title"] = "Experience";
}

<head>

    <style type="text/css">
        body {
            background: skyblue;
        }

        h1 {
            color: skyblue;
        }
    </style>
</head>

<div style="background-color:white;" class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <p>Coming soon!</p>
</div>




